#!/bin/bash -e
set -o nounset
set_env(){
    echo
}
breaking(){
    echo breaking
    break
}
sourcing(){
local file=$1
    if [ -f "$file" ];then
        source $file
    else
        echo 'no such file:' "$file" 
        breaking
    fi
}



loop(){
    local dir_self=`dirname $0`
    local file_list="$dir_self/list.txt"
    local prefix=$dir_root/MODEL/BANK/BASHRC/BANK
    while read  line;do
        desc=$(        echo "$line" | cut -d'|' -f1  )
        file=$(        echo "$line" | cut -d'|' -f2  )
        echo "[desc] $desc"
        cmd="sourcing $prefix/$file"
        eval "$cmd"
    done<$file_list
}


steps(){
    set_env
    loop
}


steps
