echo '[LOADING] library_defaults'

step2(){
    #library_defaults()
    cmd="ls -1 $dir_share | sed 's/.cfg//g'

    files=$( eval "$cmd" )
    arr=( $files )
    cmd="$1"
    dir_relative=$dir_library/src/rc/cfg/share
    for element in "${arr[@]}"
    do
         cmd="use $dir_relative/$element"
         echo "$cmd"
        # eval "$cmd"
        
         sleep 1
    done
}



step1(){
    echo '[LIBRARY MUST BE INDEPENDANT OF ANY OTHER .cfg FILES!]'
    #info: trigger it to start
    #check: 0
    #    source $dir_share/color.cfg
    #    source $dir_share/pid.cfg
    #cat $dir_wiki/bank/fast_commands.cfg
    sleep 2
    file="$dir_library/src/rc/library.cfg"
    cmd="source $file" 
    eval "$cmd" 
    #1>$dir_workspace_today/library_sourcing.log 2>$dir_workspace_today/library_sourcing.err"
}

steps(){
    step1
    step2
}


steps
