echo "[ $BASH_SOURCE ]"
breakpoint_line () 
{ 
        line=${1:-$LINENO};
            print_line;
                print_line;
                    print_color 33 "[BREAKPOINT ON LINE x HAS BEEN SET]";
                        cmd="vi $0 +$line";
                            update_clipboard "$cmd";
                                print_line;
                                    print_line
                                }

safe_alert(){
    print_func
    go_home
#    local file_err="$1"
 #       local msg="$2"
        local debug_lvl=${DEBUG_LVL:-1}
proxy present print_color 31 "[SAFE ALERT]"
    case $debug_lvl in
        1)
        show_log
        ;;
    2)
        echo  "print_color 31 ERROR";echo;echo /tmp/err;cat /tmp/err; 
 #   local util=`which gxmessage`
#        local  cmd="$util -title 'trap_err' -entrytext "$msg" -file $file_err" ;
#    ( which $util 1>/dev/null  2>/dev/null )  &&  { eval "$cmd"; } 

    ;;


    esac


}




show_advice(){
        print_func
        proxy print_color 34 SIGTERM
        proxy    present pv 'only if frustrated...'

        proxy  present pv 'random teacher in 5 seconds'
        proxy sleep 4
        proxy   present toilet 'love wisdom'
        ( xdg-open http://wiki.bash-hackers.org/ &)

}
show_log(){
print_func
print_file /tmp/callers 
print_file /tmp/proxy 1 
print_file /tmp/err 
}

export -f show_log
export -f show_advice
export -f safe_alert
export -f breakpoint_line
