update_clipboard(){
    #print_shlvl
   assert caller_is proxy
    local args=( $@ )
    local cmd="${args[@]}"
proxy present     print_color 33 "[CLIPBOARD] $cmd"
    local mode_debug=${MODE_DEBUG:-false}
    #     local str_caller=`    caller`
    #     local cmd="echo $str;vi +${str_caller}"

    #proxy "notify-send 'update clipboard'"
    #notify-send update clipboard
    #'$cmd' "
    if [ $mode_debug = true ];then
        local str=$( gxmessage 'update clipboard' -entrytext "$cmd"  )
        echo "$str" | xsel --clipboard
    else
        echo "$cmd" | xsel --clipboard
    fi

proxy sleep 1
}

export -f update_clipboard
