#!/bin/bash -e
#url: http://en.wikipedia.org/wiki/Speech_recognition_in_Linux#Solutions
#http://www.thegeekstuff.com/2009/05/sound-exchange-sox-15-examples-to-manipulate-audio-files/#more-486
#set -o nounset
convert_bits_8_to_16(){
#The following example will convert 8-bit audio file to 16-bit audio file.
 sox -b $file_in -w $file_out
}
 
dansguardian(){
	grep -R sex /etc/dansguardian/lists/phraselists/pornography/ > ~/sex1.txt
		cat sex1.txt | cut -d':' -f2 > ~/sex2.txt
		cat ~/sex2.txt | sed s/�//g > ~/sex3.txt
		cat ~/sex3.txt | sed 's/[<>]//g' > ~/sex4.txt
}
present(){
#depend_package: pv
	local str="$@"
		echo "$str" | pv -qL 10
}
check_size(){
    file=$1
sox $file -e stat
}

change_size(){
#depend_package: sox
local file_in=$1
local file_out=$2
#44100
	present Change the size
#local cmd="sox $file_in -r 16000 $file_out"
echo "$cmd"
eval "$cmd"
}


change_sample_rate(){
#depend_package: sox
local file_in=$1
local file_out=$2
local rate=16000
#44100
	present Change the sample rate with sox
#local cmd="sox $file_in -r $rate $file_out resample -b 8"
local cmd="sox $file_in -r 16000 $file_out"
echo "$cmd"
eval "$cmd"
}

voice_recognition(){
#depend_package: flite, flac, wget 
#use: change_sample_rate
	present voice recognition
		str_say="hello world"
		file_wav1=/tmp/sample1.wav
		file_wav2=/tmp/sample2.wav
		file_flac=/tmp/sample1.flac

		flite -t $str_say -o $file_wav1
change_sample_rate "$file_wav1" "$file_wav2"

change_size "$file_wav2" "$file_wav3"
		flac --fast -f $file_wav3 -o $file_flac
        ls -l $file_wav1
        ls -l $file_wav2
        ls -l $file_wav3
        ls -l $file_flac
        check_size $file_wav1
        check_size $file_wav2
        check_size $file_wav3
        check_size $file_flac
		wget -q -U "Mozilla/5.0" --post-file $file_flac --header="Content-Type: audio/x-flac; rate=16000" -O - "http://www.google.com/speech-api/v1/recognize?lang=en-us&client=chromium"

}



#voice_recognition
#set +o nounset
