clear



trap_sigint1(){
#    echo "[TRAP] sigint"
    echo
 present pv "I choose to do for others first"
present toilet feel thank
echo -
echo
ascii_art
present pv layout
#echo proxy single list todo
    go_home
    }


#echo run robot.sh
#echo run quick_view


steps(){

    trap trap_sigint1 SIGINT

    local dir_self=`dirname $0`
    local file_list="$dir_self/genesis.yaml"
    while read line;do
        present pv "$line"
        proxy sleep 1
        done<$file_list
    }

    steps
echo type layout
