#!/bin/bash
sourcing(){
        local file=$1
        if [ -f "$file" ];then
            echo "[sourcing] $file"
                source $file
        else
            echo 'not a file' "$file"
                fi
}
loop(){
    for file in $files;do
        sourcing "$file"
            done

}
step1(){
    files=`ls $dir_root/.TRICK/SYSTEM/*.cfg`
                                       loop
                                       files=`ls $dir_root/.TRICK/BASHRC/*.cfg`
                                       loop

                                       }
                                       step1
