show_funcs(){
print_func
cat $0 | grep '(){' | cut -d'(' -f1
}

print_func(){
local str="${FUNCNAME[1]}"
echo "---> $str()" 1>&2
}


breakpoint(){
echo 'error'
}

trap breakpoint    ERR
#set -o pipefail
#set -o errtrace 
#set -o nounset
set -o  
echo 
echo

exiting(){
echo 'exiting'
exit 1
}
commander(){
echo 'COMMANDER()'
cmd="$1"
echo -e "cmd: \n $cmd"
eval "$cmd"
}
confirm(){
    echo 'CONFIRM:'
    local cmd="$1"
    if [ "$cmd" != '' ];then
        echo -e "cmd:\n ${cmd}"
        echo 'press y to continue'
        read answer
        if [ "$answer" = y ];then
            echo 'running... '
            eval "$cmd"
        else
            exiting
        fi
    else
        echo "supply a command"
    fi

}

