#!/bin/bash 
#set -o nounset
#help:     bashrc loads only this func
#desc:     we can start playing around
#question: what is the shortest path to use a list?

clear
echo '[ ENTRY_POINT.cfg ]'
export file_robot=/tmp/robot.txt
export file_error=/tmp/err.txt
export file_out=/tmp/out.txt
echo -n '' > $file_robot

############################################### step1 : set proxy for easy error tracing
export file_proxy=$dir_root/0/cfg/proxy.cfg
source $file_proxy
proxy figlet 'sourcing'
############################################### step2 : set minimal file structure: 
export file_struct=$dir_root/0/cfg/struct.cfg
source $file_struct
############################################### step3 : use lists for controlling a code
run(){
if [ -f "$sh_lister" ];then
    proxy echo  'RUNNING THE LISTs'
    proxy figlet 'list 1'
    proxy sleep 2
    local dir="$dir_root/PENDING"
    local cmd="run_list $dir" 
    proxy "$cmd"
else
    echo reason_of_death 'un-known script' '$sh_lister'
fi
}
run
############################################## list1
#before using the proxy(which use sh_wrapper)
proxy sleep 5
echo -n '=============== '

echo -n '=============== '

echo -n '=============== '
echo
echo '[END]'
proxy figlet end
cat $file_robot | tail -5
set +o nounset
