#present pv choose the type of layout

#read answer

#local str=`higher $answer`
#echo "[LAYOUT] $str"

#echo "$str" > $dir_self/choosed.txt
#present pv now run: layoutSource to source it or layoutRun to run it



dir_self=`where_am_i`
