
print_rainbow(){
    print_func
    file=$1
    let 'counter=1'
    while read line;do
        num=$1
        let    "sum=30+$counter"
        #        let 'res=$num mod 7'
        if [ $counter -lt 7 ];then
            print_color "3${counter}" "$line"
        else
            echo -e "$counter)\t$line"
        fi

        let "counter+=1"
    done<$file
}

