#regular expressions
#http://www.thegeekstuff.com/2011/01/regular-expressions-in-grep-command/
#http://www.thegeekstuff.com/2010/01/8-powerful-awk-built-in-variables-fs-ofs-rs-ors-nr-nf-filename-fnr/
#http://www.thegeekstuff.com/2010/07/bash-string-manipulation/
#http://www.itworld.com/operating-systems/355273/unix-bashs-regular-expressions

#echo 34% | grep -o "[0-9]*%" 
remove_last_char(){
#http://stackoverflow.com/questions/5074893/how-to-remove-the-last-character-from-a-bash-grep-output
echo ${1%?}
}




field_saperator(){
    #http://stackoverflow.com/questions/13470413/bash-array-to-delimited-string?rq=1

    ids=("$@")
    lst=$( IFS='|'; echo "${ids[*]}" ); 
    echo "$lst"

}

first_char()
{
    local str="$1"
    local char="$2"
    local result=''
    local res=$(echo "${str:0:1}" | sed s/"${char}"/_/g)
    if [ "$res" = '_' ];then
        result='true'
    else
        result='false'
    fi
    echo "$result"
}

last_char(){

    local str="$1"

    local char="$2"
    local result=''

    local num=${#str}
    let "num=num-1"
    local res=$(echo "${str:$num:1}" | sed s/"${char}"/_/g)
    if [ "$res" = '_' ];then
        result='true'
    else
        result='false'
    fi
    echo $result
}

string_ws(){
    local str="$1"


    local str_ws=$(echo "$str"|sed 's/ /_/g');
    echo "$str_ws"

}
remove_char(){
    local str=$(echo "$1" | sed "s/$2//g")
    echo "$str"
}
get_part(){
    local line="$1"
    local place="$2"
    local part=$(echo "$line" | awk -F '|' '{print $place}')

    #        local   long=$( echo $line | awk -F '|' '{print $1}' )
    ##echo "$str" | awk -F '|' '${print $1}'
    echo "$part"
}


remove_trailing(){
    trace 'remove_trailing'
local res=$(echo "$1" | sed -e 's/^ *//g' -e 's/ *$//g')
echo "$res"


    #http://stackoverflow.com/questions/369758/how-to-trim-whitespace-from-bash-variable
}
add_backslash(){
#echo "s'df" 
echo "$1" | sed "s/'/\\\'/g"
}
remove_char(){
#echo "s'df" 
local str="$1"
local char="$2"
echo "$str" | sed "s/$char//g"
}




lower() { echo ${@,,}; }
higher() { echo ${@^^}; }

export -f remove_char
export -f higher
export -f lower 
export -f get_part
export -f string_ws 
export -f last_char 
export -f first_char
export -f remove_char 
export -f field_saperator 
export -f remove_last_char 


export -f remove_trailing 

export -f add_backslash 

