Package: do-for-others-first
Version: 0.0.1-0
Section: internet
Priority: extra
Architecture: all
Depends: perl,bash,flite
Installed-Size: 8
Maintainer: ofer_shaham <ofer.shaham@gmail.com>
Homepage: https://github.com/brownman/do_for_others_first
Description: Deb package for the project. mainly written using bash
 please update me as soon as you can because I want to be famous



