SHELL=/bin/bash
DISPLAY=:0
PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
NAME=dao04
#dir_tmp=/tmp/root
#dir_desktop=/home/$NAME/Desktop
#dir_root=/home/dao04/JAIL/TREE
#dir_suspend=/home/dao04/JAIL/TREE/.CODE/SOS/SUSPEND
#* * * * *   /usr/bin/env >$dir_desktop/root_env.cfg
*/10 * * * * bash -c "flite -t 'creative you are - and you doing great' ;dbus-send --system --print-reply     --dest=\"org.freedesktop.UPower\"     /org/freedesktop/UPower     org.freedesktop.UPower.Suspend; flite -t 'genius you'" 2>/home/dao04/Desktop/CRON_ERROR.txt

*/15 * * * * flite -t "I choose to do for others first"

#*/1 * * * * bash -c "flite -t 'next wallpaper';xcowsay 'next wallpaper';gxmessage -title 'next_wallpaper' -entry -file /tmp/wallapaper.txt"

#* * * * * bash -c "gedit $dir_root/genesis.yaml"
#* * * * * killall -9 flite


############################# yesturday
*/9 * * * * /tmp/suspend.sh
#*/9 * * * * cp /home/dao04/.suspend.sh /tmp/suspend.sh
########################### today
#* * * * * rm /tmp/cron_err*
#* * * * * echo `date | tr -s ' '  | cut -d' ' -f4` > /tmp/cron_last_time
#*/5 * * * * $dir_suspend/alert_network_up.cfg 2>/tmp/cron_err2
#*/1 * * * * $dir_suspend/cron_reminder.cfg 2>/tmp/cron_err1
#*/9 * * * * $dir_suspend/suspend.sh 2>/tmp/cron_err3

