#http://wiki.bash-hackers.org/syntax/expansion/brace
#http://tldp.org/LDP/Bash-Beginners-Guide/html/sect_03_04.html
#http://wiki.bash-hackers.org/syntax/expansion/intro
for_each_element(){

cmd="$1"
for t in "${arr[@]}"
do
    eval "$cmd $t"
done

}
for_each_element1(){
    if [  $# -gt 0 ];then
        cmd="$1"
#declare -a 'pics=(img{'"$a..$b"'}.png)'; 

echo eval "$cmd ${arr[@]}" 
        fi
        fi


    }


export -f for_each_element

