clear
sleep 5
#source $dir_self/bash_additions.cfg


steps(){
    clear
    every 13 random_remind_about_self
every 13    random_remind
every 12    motivation
every 1    first_action
#echo sleep 6
#sleep 6
#step0 && { step1 ; }

#( step1 ) && { step1; }
#( step2 ) && { step2; }
}



steps
