#http://mywiki.wooledge.org/BashGuide/Arrays

file_to_lines(){
    trace "read_lines() got:  1:$1"
    #2:$2"
    local file="$1"

    while read -r line
    do
        [[ $line = \#* ]] && continue
        #echo "$line"
        #lines=("${lines[@]}" "$line")
        if [ "$line" != ''  ];then
            #trace "line: $line"
            lines+=("$line")
        fi
    done < "$file"

    #local msg=$(echo "${lines[@]}")
    #notify_send "$msg"
    #echo "$msg"
    #echo "lines: ${lines}"
}



execute_lines(){
    #depend: lines[],cmd
    local delay=${1:-1}
    local tmp=''
    max=${#lines[@]}
    count=1

    #notify_send " recent translation: $count"
    for line in "${lines[@]}"
    do
        trace "cmd" "$line"
        #sleep1 $delay
        eval $cmd "$line"
        let "count=count+1"
    done
}

str_to_arr(){
    #depend on: arr
    local str="$1"
    local delimeter=${2-'.'}
    IFS=$delimeter read -a arr <<< "$str"
    #result: arr
}

is_empty_array1(){
    local result=0
    if [ ${#array[@]} -eq 0 ]; then
        result=0
    else
        result=1
    fi
    return $result
}
is_empty_array2(){
    local result=0
    local str="${array[@]}"

    if [  "$str" = '' ]; then
        result=0
    else
        result=1
    fi
    return $result
}



arr_to_str(){
    #arr=(1 2)
    #assume: exist: array
    local delimeter="|"
    #"${1:-'|'}"
    #local arr="$arr"
    local  length=${#arr[@]}
    if [  $length -ne 0 ];then 
        if [ "$delimeter" != '' ];then 
            ( IFS="$delimeter"; echo "${arr[*]}" )
            trace 'x'
        else
            trace "delimeter is empty : $delimeter"
        fi
    else
        trace "array is empty: length =  $length"

    fi

}



pairs(){
    notify_send3 "pairs" "$time1"


    declare -A arr

    arr["it"]='ac'

    local str=''
    if [ ${#arr[@]} -ne 0  ];then

        for i in "${!arr[@]}"
        do
            str="$str, key  : $i"
            str="$str, value: ${arr[$i]}"
        done
    fi

    echo "$str"


}
pairs1(){
    #echo 'hi'
    declare -A fullNames
    fullNames=( ["lhunath"]="Maarten Billemont" ["greycat"]="Greg Wooledge" )

    for user in "${!fullNames[@]}";do
        str="$strm User: $user, full name: ${fullNames[$user]}."; 
    done
    echo "str: $str"
}
pairs3(){
    local lang="it"


    times1=${repeater[$lang]}
    #  notify_send3 "times: $times1 for $lang"
    echo "$times1"
}

show_args(){
trace 'show args'

trace "args[] items:  ${#args[@]} "
trace "args[]   ${args[@]} "
    local res=''
    if [ "$COMMANDER1" = true ];then
if [ ${#args[@]} -ne 0 ];then


        #local secret=$(secret 2)
        #notify_send1 'cfg' 'show_args'

        local cmd=""
        cmd="yad --quoted-output --timeout 20 --title 'show_args' --form    --text "args"   \
            --button='gtk-close:1'  --button='gtk-ok:0' --entry-text "
        #--button='gtk-close:0' --button='gtk-ok:1' "

        local max=${#args[@]}
        notify_send1 'max:' "$max"
        for (( c=0; c<=$max; c++ ))
        do
            cmd="$cmd --field=\"$c\"   \"${args[c]}\" "
        done

        res=$( eval "$cmd" )
        #local res1=$?

        if [ "$res" = '' ];then
            exiting
        fi


        trace  "$res"

fi
    fi



}

export -f show_args
export -f arr_to_str
export -f pairs

export -f pairs1
export -f pairs3


export -f file_to_lines 
export -f execute_lines



