#info: show recent edited files
#pending: git tip aday 
#imagine: how easy is to learn - even only 1 tip a day
step1(){

git status | grep modified --color=auto; git add .;git commit -am 
}
steps(){
    (    step1 )




}
steps
