# ~/.bashrc: executed by bash(1) for non-login shells.
# see /usr/share/doc/bash/examples/startup-files (in the package bash-doc)
# for examples

# If not running interactively, don't do anything
show_function_bashrc(){
    echo 'it is possible to cat only the desire function - to get remember of its args'
}
show_scripts(){
    green 'SHOW_SCRIPTS'
    if [ "$1" ];then
        dir=$1
        if [ -d $dir ];then
            color1 ":"
            color2 ":"
            color3 ":"
            color4 ":"
            ls -1 $dir | sed 's/.sh//g'
        else
            reason_of_death "no such dir" "$dir"
        fi
    else
        reason_of_death "no arg"
    fi
}

show_funcs(){
    green 'SHOW_FUNCS'
    local script=$0
    color1 ":"
    color2 ":"
    color3 ":"
    color4 ":"
    functions=`grep -h '()' $0 | cut -d '(' -f 1`
    #functions=`grep -h test_ $0 | cut -d '(' -f 1`
    for i in $functions; do
        # rm -rf $dir_base/tmp/*
        # $i
        echo "  $i"
    done
    #edit_self
}
edit(){
    green 'EDIT_SELF'
    echo 'clipboard updated!'
    echo $EDITOR $0  xsel --clipboard
}
show_dependencies(){
    green 'SHOW_DEPENDENCIES'
    cat $0 | grep dependencies
}
say_my_name(){
    local str=${FUNCNAME[1]}
    echo "function name is  - $str" | flite
}
show_my_name(){


    local str=''

    if [ $# -ne 0 ];then
        str=$1

        if [ "$str" = 'func' ];then


        echo -en "\t  $str::"
            echo -n '-------->'
            str=${FUNCNAME[1]}
            echo -e "\t\t\t\t\t $str ()"
        elif [ "$str" = 'script' ];then

        echo -en "\t$str::"
            echo -n '--->'
            #str=${BASH_SOURCE[1]}
            str=$0
            echo -e "\t\t\t\t $str"
        fi
    else
        reason_of_death 'no args'
    fi
}

export -f show_dependencies
export -f show_funcs
export -f edit

export -f show_scripts


export -f say_my_name

