print_func () 
{ 
        echo "${FUNCNAME[1]}"
}
print_func_n () 
{ 
        echo -n "${FUNCNAME[1]} "
}

pv(){
    echo "$@" |  /usr/bin/pv -qL 10 
}
trace(){
    echo "$@" >> /tmp/proxy
}
print_color () 
{ 
#     assert more "$#" 1 
    local color=${1:-34}
    shift
    local str="${@:-X}"
    echo -e "\x1B[01;${color}m[*]\x1B[0m $str"
}
print_color_n () 
{ 


    #( assert more "$#" 1 )
#    assert more "$#" 1
    local color=${1:-34}
    shift
    local str="${@:-X}"
    echo -en "\x1B[01;${color}m[*]\x1B[0m $str"

}
print_line(){
echo '-----------------------'
}


alias toilet="/usr/bin/toilet --gay"


#toilet(){
#    local args="$@"
#        local util=`which toilet`
#        local cmd="$util --gay"
#        eval "$cmd $args"
#
#}
#export -f toilet
#export -f assert


export -f print_color
export -f print_color_n
export -f pv
export -f trace
#export -f random_line
export -f print_func

export -f print_func_n
export -f print_shlvl
export -f print_line


