
print_shlvl

print_func(){
    sleep 1
    local str="${FUNCNAME[1]}"
    echo  "---> $str()"
}


print_line(){
    echo ------------------------------------
}
step1(){
    print_func
    echo 'productivity level is: '
    echo "$product_lvl"

    #source $dir_library/prompt.cfg

}

step2(){
    print_func
    tree -L 1 $dir_works
}

step4(){
print_func
$dir_library/test.sh 1>/dev/null
res=$?
if [ "$res" -eq 0 ];then
    echo 'trying to load the library:'
    source $dir_library/loader.cfg
else
    echo 'encounter an error while trying to load the library:'
    echo "$dir_library/loader.cfg"
fi
}

step5(){
    print_func
    cat tasks.txt
}
step3(){
print_func


source $dir_root/STEPS/steps/alias.cfg

source $dir_root/STEPS/steps/self.cfg

source $dir_root/STEPS/steps/defaults.cfg
}

steps(){
    print_func
    print_line
    step1
    print_line
    step2
    print_line
    step3
    #    step4
}

steps
